<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1> List of Movies </h1>

	<ul>
		<% for (let i = 0; i < movies.length; i++) {%>
		<li>
			<%= movies[i].title;%>
			<%= movies[i].genre;%>

		</li>


		<%}%>
	</ul>

</body>
</html>