<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>New Page</h1>

	<form action="/" method="POST" >
		Title <input type="text" name="title"/></br>
		Genre <input type="text" name="genre"/></br>
		<input type="submit" name="" value="submit"/>

	</form>


</body>
</html>