<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>New Page</h1>

	<form action="/" method="POST" >
		Input<input type="text" name=""/></br>
		<input type="submit" name="" value="submit"/>

	</form>


</body>
</html>